<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuzhi.application">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tzicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tzicon"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.UpdateService" />
        <service android:name=".service.ClipboardService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:exported">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tz_file_paths" />
        </provider>

        <activity
            android:name=".InitActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c09778cae7e77854000040" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3a769e7d7fbcf8fb5a8aecb3dd5a0798"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="官网" />

        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.openfile.mvp.OpenFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.crepository.mvp.CrepositoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.mvp.EnterpriseKnowledgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.personalinformation.mvp.PersonalInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.personalinformation.bindingphoneoremailfirst.mvp.BindingPhoneOrEmailFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.personalinformation.bindingphoneoremailsecond.mvp.BindingPhoneOrEmailSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.problemfeedback.mvp.ProblemFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".moudle.mine.setting.mvp.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.setting.changepassword.mvp.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.personalinformation.rename.mvp.RenameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.mvp.KnowledgeDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.publishtopicorcomment.mvp.PublishTopicOrCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.commentlist.mvp.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.createdocument.mvp.CreateDocumentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".moudle.login.mvp.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".moudle.repository.knowledgachannel.mvp.KnowledgeChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.checkhistoricalversion.mvp.CheckHistoricalVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.checkhistoricalversion.recoverhistoryversion.mvp.RecoverHistoryVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.login.forgetpassword.mvp.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moudle.mine.setting.changeinitialpassword.mvp.ChangeInitialPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".moudle.clipper.clippertwo.mvp.ClipperTwoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />

        <activity
            android:name=".moudle.clipper.mvp.ClipperOneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".moudle.repository.enterpriseknowledge.knowledgedetails.choosecolleague.mvp.ChooseColleagueActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".moudle.mine.setting.settingpush.mvp.SettingPushActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>